<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1>Comment your addition</h1>
      <%= simple_form_for([@list, @bookmark]) do |f| %>
        <%= f.input :comment, as: :text %>
        <%= f.association :movie %>
        <%= f.submit 'Add movie' %>
      <% end %>

    </div>
  </div>
</div>
