.cards-movie {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 0 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-movie {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-movie {
    grid-template-columns: 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-movie {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-movie {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-movie {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
.card-movie-category {
  width: 250px;
  height: 300px;
  perspective: 1000px;
}
.card-movie-category-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.card-movie-category:hover .card-movie-category-inner {
  transform: rotateY(180deg);
}
.card-movie-category-front, .card-movie-category-back {
  position: absolute;
  border-radius: 5px;
  padding: 2px;
  margin: 16px 0;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
  background-size: cover;
  background-position: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card-movie-category-front {
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.card-movie-category-back {
  color: Black;
  font-size: 18px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  transform: rotateY(180deg);
}
.card-movie-category-inner .bin {
  position: absolute;
  bottom: 4px;
  right: 4px;
  text-decoration: none;
}
